@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<DotNetNuclear.Modules.LogAnalyzer.Models.LogViewModel>

@using DotNetNuke.Framework.JavaScriptLibraries
@using DotNetNuke.Web.Mvc.Helpers
@using DotNetNuclear.Modules.LogAnalyzer.Models


@using DotNetNuke.Web.Client.ClientResourceManagement
@{
    var moduleId = Dnn.ModuleContext.ModuleId;

    ClientResourceManager.RegisterStyleSheet(Dnn.DnnPage, "~/DesktopModules/MVC/DotNetNuclear/LogAnalyzer/Resources/css/bootstrap.min.css");
    ClientResourceManager.RegisterStyleSheet(Dnn.DnnPage, "~/DesktopModules/MVC/DotNetNuclear/LogAnalyzer/Resources/css/module.css");

    ClientResourceManager.RegisterScript(Dnn.DnnPage, "~/DesktopModules/MVC/DotNetNuclear/LogAnalyzer/Resources/js/jquery.signalR-2.2.0.min.js", 10);
    ClientResourceManager.RegisterScript(Dnn.DnnPage, "~/DesktopModules/MVC/DotNetNuclear/LogAnalyzer/Resources/js/readmore.min.js", 99);
    ClientResourceManager.RegisterScript(Dnn.DnnPage, "~/signalr/hubs", 100);
    ClientResourceManager.RegisterScript(Dnn.DnnPage, "~/DesktopModules/MVC/DotNetNuclear/LogAnalyzer/Resources/js/loganalyzer.js", 101);

    JavaScript.RequestRegistration("Knockout");
}

<div id='dnnuclear-loganalyzer-@moduleId' class="dnnuclear-logAnalyzer">
    @if (Model.FilesToAnalyze != null)
    {
    <div class="clearfix" data-bind="visible: analyzedResults().length == 0">
        <h3>Select the log files to analyze</h3>
        <table class="table table-responsive table-fixedheader table-loglist">
            <thead>
                <tr>
                    <th width="15%">Select</th>
                    <th width="85%">Log File</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: logFiles">
                <tr data-bind="click: $parent.selectALog">
                    <td width="15%">
                        <input type="checkbox" class="checkbox-logfile" data-bind="attr: { value: Name }, checked: $parent.selectedLogs" /><span></span> 
                    </td>
                    <td width="85%">
                        <span data-bind="text: $parent.formatLogName($data)"></span>
                    </td>
                </tr>
            </tbody>
        </table>

        <button id="btnAnalyze" class="btn btn-info btn-med @*disabled*@" data-bind="click: startAnalyzer" title="@Dnn.LocalizeString("btnAnalyze")">
            <span class="glyphicon glyphicon-play"></span>
            @Dnn.LocalizeString("btnAnalyze")
        </button>
    </div>

    <div id="loganalyzer-error-@moduleId" class="dnnFormMessage dnnFormValidationSummary log-message-error"></div>

    <div id="logAnalyzerProgress" class="progress progress-striped active">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        </div>
    </div>
    }

    <div class="log-results clearfix" data-bind="visible: analyzedResults().length > 0, afterRender: afterLog">
        <button id="btnReset" class="btn btn-info btn-med @*disabled*@" data-bind="click: resetAnalyzer" title="@Dnn.LocalizeString("btnReset")">
            <span class="glyphicon glyphicon-refresh"></span>
            @Dnn.LocalizeString("btnReset")
        </button>

        <h3>Results</h3>
        <table class="table table-responsive table-results">
            <thead>
                <tr>
                    <th style="width:20%">Class</th>
                    <th style="width:20%">Exception</th>
                    <th style="width:50%">Message</th>
                    <th style="text-align:right; width:10%;">Occurences</th>
                </tr>
            </thead>
            <tbody data-bind="template: { name: 'logresult-template', foreach: analyzedResults, afterRender: afterResultRender }">
            </tbody>
        </table>

        <script type="text/html" id="logresult-template">
            <tr data-bind="css: Level.toLowerCase()">
                <td data-bind="text: Class"></td>
                <td data-bind="text: Throwable"></td>
                <td class="log-message"><span data-bind="text: Message"></span></td>
                <td align="right"><span data-bind="text: Count"></span></td>
            </tr>
        </script>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var logOptions = {
            "moduleId": @moduleId,
            "logFileList":  @(new HtmlString(Json.Encode(Model.FilesToAnalyze))),
            "messageContainer": $('#loganalyzer-error-@moduleId')
        };
        dnnuclear.LogAnalyzer.init(logOptions);
    });
</script>
